<div *ngIf="errorMessage" class="alert alert-danger">
  {{errorMessage}}
</div>
<div *ngIf="successMessage" class="alert alert-success">
  {{successMessage}}
</div>
<div class="col-sm-6 offset-sm-3">
  <form #formulaire="ngForm">
    <label for="name">Name</label>
    <input required id="name" type="text" ngModel name="name" class="form-control">

    <label for="firstname">First name</label>
    <input required id="firstname" type="text" ngModel name="firstname" class="form-control">

    <label for="job">Job</label>
    <input required id="job" type="text" ngModel name="job" class="form-control">

    <label for="age">Age</label>
    <input required min="0" max="170" id="age" type="number" ngModel name="age" class="form-control">

    <label for="cin">CIN</label>
    <input required id="cin" type="text" ngModel name="cin" class="form-control">

    <!-- <label for="path">Path</label>
     <input id="path" type="text" ngModel name="path" class="form-control"> -->
     <br>
    <input #_fileInput type="file" (change)="openCropperDialog($event)" accept="image/*" hidden>

    <button ly-button color="" (click)="_fileInput.click()" class="btnSelectImage">
      <ly-icon [mf]="1">add_a_photo</ly-icon>
      <span>Select Photo</span>
    </button>

    <div *ngIf="cropped"><img [src]="cropped"></div>
    <br>
    <br>
    <button class="btn btn-success" [disabled]="formulaire.invalid" (click)="addPersonne(formulaire)">Envoyer</button>
  </form>
</div>
