

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <img class="img-circle" src="assets/images/{{personne?.path | defaultImage}}">
  </div>
  <div class="col-sm-9">
      <div class="main">
          <h3 class="name">{{personne?.name | titlecase}} {{personne?.firstname | titlecase}}</h3>
          <p class="profession">{{personne?.job}}</p>
          <div class="text-center">
             <h4 class="text-center">{{personne?.age}} years</h4>
             <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>
          </div>
      </div>
  </div>
  </div>
</div>


