<p [ngClass]="{
  'est': est,
  'barca': barca,
  'milan': milan
}"
>
class works!</p>

<br>
<button class="btn btn-danger" (click)="changeTeam('est')">Esperance</button>
<button class="btn btn-danger" (click)="changeTeam('barca')">Barca</button>
<button class="btn btn-danger" (click)="changeTeam('milan')">Milan</button>

<br><br>
<div appHighlight>
  Bonjour je teste une directive
</div>
<br>#####################################################<br>
<input *ngIf="show" type="text" class="form-control" appRainbow>
<button class="btn-primary" (click)="show = !show">Show</button>
<br><br>
<ol class="list-group">
  <li class="list-group-item" *ngFor="let team of teams; let index = index">
   {{index+1}}- {{team}}
  </li>
</ol>



