<input
  #inputSearch
  type="text"
  class="form-control input-search mr-sm-2"
  (keyup)="search(inputSearch.value)"
  placeholder="Search"
  aria-label="Search"
>
<!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
<ol class="list-search" *ngIf="true">
  <li
      *ngFor="let personne of searchResult"
      class="list-group-item"
      (click)="selectPersonne(personne)"
  >
    <img width="25px" height="25px"
    src="{{personne.path | defaultImage}}"
    alt="{{personne.firstname}}"
    >
    {{personne.name}} {{personne.firstname}}
    <!-- {{personne | json}} -->
  </li>
</ol>
